= render 'layouts/header'

%body{class: "#{controller.controller_name} #{controller.action_name}"}
  .container
    = render 'layouts/logo'

  .container
    = render 'layouts/nav'

  .container
    = render 'layouts/flash'
  %br

  .container
    .contents
      = yield
  %br

.container
  = render 'layouts/footer'
